.Target{
    position: absolute;
    width: 324px;
    height: 93px;
    left: 20px;
    top: 44px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.49);
    border-radius: 7px;
    
}
.figure{
    box-sizing: border-box;

    position: absolute;
    width: 15px;
    height: 14px;
    left: 25px;
    top: 10px;

    background: #FFFFFF;
    border: 1.5px solid #2D9737;
    border-radius: 3px;
}

.figure span{
    position: absolute;
    width: 8px;
    height: 8px;
    left: 3px;
    top: 3px;

    background: #2D9737;
    border-radius: 100%;
}

.Target h1{
    position: absolute;
    width: 164px;
    height: 27px;
    left: 46px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #000000;
}

.Target h2{
    position: absolute;
    width: 170px;
    height: 15px;
    left: 27px;
    top: 20px;

    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.64);
}

.Target h3{
    position: absolute;
    width: 65px;
    height: 17px;
    left: 26px;
    top: 50px;
    
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #000000;
}


.Target button{
    position: absolute;
    width: 56px;
    height: 28px;
    left: 250px;
    top: 50px;

    background: #B82323;
    box-shadow: 0px 4px 4px #DCDBDB;
    border-radius: 2px;
}
